body{
    margin: 0;
    padding: 0;
    width: 100%;
}
header1 {
    font-family:"Arvo";
    font-weight:normal;
    font-size: 55px;
    text-align: center
    color: #fff;
    margin: 0;
    padding: 0;
}
 
header2 {
   font-family:"Arvo";
   font-weight: bold;
   font-size: 55px;
   text-align: center;
   color: #ff3300;
   margin: 0;
    padding: 0;
}
 
header3 {
   font-family: Oswald;
   font-weight: normal;
   font-size: 30px;
   text-align: center;
   margin: 5px 0;
    padding: 0;
    z-index: 1;
    position: relative;
}
header4 {
  font-family: "Arvo";
   font-weight: normal;
   font-size: 40px;
   text-align: center;
   margin: 5px 0;
    padding: 0;
    z-index: 1;
    font-color: white;
    position: relative;

}
.nowrap {
  font-size: 25px;
  white-space: nowrap ;
  font-family: Oswald;
  margin-right: 0px;
  margin-left: 270px;
}
.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }

#header {
	width: 100%;
	background: url('img/header-bg.png');
	height: 80px;
	position: fixed;
	margin-top: 0px;
  padding-right: 50px;
}

#nav { width: 410px; float: right; margin-top: 20px; }
#logo a { margin-left: 10px; font-family: "Arvo"; color: #fff; text-decoration: none; float: left; font-size: 30px; margin-top: 20px; color: #fff;  }
#nav ul{
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;
}

#nav li{
	margin-top: 9px;
	float: left;
	padding-left: 21px;
}



#nav li a { color: #fff; opacity:0.6; font-size: 16px; text-decoration: none; font-family: 'Arvo';  }
#nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }
#nav li a:hover { color: #fff; opacity:1;  }


.quotes {
 font-family: 'Goudy Bookletter 1911', serif;
   font-weight: normal;
   font-size: 30px;
  text-align: left;
  margin: 50px auto;
}

 .author_name_white { font-family:"Wellfleet";  margin: 70px 0 0 75px; color: #fff; font-size: 20px; }
 .author_name_gray { font-family:"Wellfleet";  margin: 70px 0 0 75px; color: #94a4a4; font-size: 20px; }
 .quotes_container { width: 800px; margin: 0 auto; }
#christmas_tree { background: url('img/christmas-tree.png')no-repeat; width: 48px; height: 77px; margin: 0 auto; position: relative; bottom: -35px;}
#divider { background: url('img/divider.png')no-repeat; width: 300px; height: 35px; margin: 0px auto 27px auto; }
#ribbon { background: url('img/ribbon.png')no-repeat; width: 251px; height: 48px; margin: 0 auto;  display: block; position: relative; top: -38px; }
#snowflakes1 { background: url('img/snowflakes.png')no-repeat; width: 24px; height: 21px; margin: 0 auto;  display: block; position: relative; bottom: -54px; left: -102px; }
#snowflakes2 { background: url('img/snowflakes.png')no-repeat; width: 24px; height: 21px; margin: 0 auto;  display: block; position: relative; bottom: -33px;  right: -100px; }
.container {
       position:relative;
   }

   .content {
       position:relative;
       color:White;
       z-index:5;
   }

   .background {
       position:absolute;
       top:0px;
       left:0px;
       width:100%;
       height:100%;
       background-color:Black;
       z-index:1;
       /* These three lines are for transparency in all browsers. */
       -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
       filter: alpha(opacity=50);
       opacity:.5;
   }

.buttonHolder{ 
	text-align: center; }
.text{
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-family: "Arvo";
}
label1 {
	font-family: "Arvo";
   font-weight: normal;
   font-size: 30px;
	clear:both;
	float: left;
	padding-left:400px;

}
label3 {
	font-family: "Arvo";
   font-weight: normal;
   font-size: 30px;
	clear:both;
	float: left;
	padding-left:400px;

}
buttonsubmit {
	padding: center;
}

#dropdown1{
	heigh: 1000px;
}

#welcome, #walk{ width: 100%; }
#welcome{
	background:url('img/slide1.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 900px;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
}

#walk{
	background: url('walkingbackground.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 900px;
	padding: 170px 0 0 0;
	background-size: cover;
}

#bike{
	background: url('bikebackground.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 900px;
	padding: 170px 0 0 0;
	background-size: cover;
}

#drive{
	background: url('carbackground.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 900px;
	padding: 170px 0 0 0;
	background-size: cover;
}
#contact{
	background: url('img/slide1.jpg');


}

#copyright  { color: #fff; font-family:"Wellfleet";  font-size: 14px; margin-top: 100px; text-align: center;  }
#copyright  a { text-decoration: none; color: #fff;  }

